<section class="Todos">
    <div class="Todos-Heading">
      <p class="Todos-Heading-Text"><%= section_title %></p>
      <p class="Todos-Heading-Num"><%= todos.completed.count %>/<%= todos.count %></p>
    </div>
    <ul class="Todos-List">
      <% todos.all.each do |todo| %>
        <li class="Todos-ListItem">
          <label class="Todos-Lebel">

            <%= form_with(url: "/todos/#{todo.id}", method: "put") do |form| %>
              <%= form.check_box(:completed, {
                class: "Todos-CheckBox",
                onClick: "this.form.submit()",
                checked: todo.completed ? true : false
                })
              %>
            <% end %>

            <p
              class="<%= todo.completed ? "Todos-Text Todo-Completed" : "Todos-Text" %>">
              <%= todo.todo_text %>
              <span class="Todos-Text-Date">
              <%= (todo.due_today?) ? nil : todo.due_date.to_s(:short) %>
              </span>
            </p>

            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do |form| %>
              <%= form.submit("", {
                class: "Todos-Delete",
                type: "image",
                src: asset_path('delete.png'),
                alt: "submit",
                onClick: "this.form.submit()"
                })
              %>
            <% end %>
          </label>
        </li>
      <% end %>
    </ul>
</section>
