<!-- Main TodoList Area -->
<main class="Container">
  <h1 class="Heading">My Todo-list</h1>
  <!-- Add Todo Area -->
  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do |form| %>
    <%= form.text_field(:todo_text, {
      class: "AddTodo-TodoText",
      placeholder: "What's next?"
      })
    %>
    <%= form.date_field(:due_date, { class: "AddTodo-TodoDate" }) %>
    <%= form.submit(:Add, { class: "Button" }) %>
  <% end %>

  <%= render partial: "todo_section", locals: {
    section_title: "Overdue",
    todos: @todos.overdue
  } %>
  <%= render partial: "todo_section", locals: {
    section_title: "Due Today",
    todos: @todos.due_today
  } %>
  <%= render partial: "todo_section", locals: {
    section_title: "Due Later",
    todos: @todos.due_later
  } %>
