<!DOCTYPE html>
<html>
  <head>
    <title>TodoManagerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <% if @current_user %>
        <section class="Greet-Section">
          <p class="Greet-Heading">Welcome <%= @current_user.first_name %>!</p>
          <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
        </section>
      <% end %>

    <% if flash[:error] %>
      <div class="Flash-Error">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
