<!DOCTYPE html>
<html>
  <head>
    <title>TodoManagerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="Greet-Section">
    <% if @current_user %>
      <p class="Greet-Heading">Welcome <%= @current_user.first_name %>!</p>
      <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
    <% end %>
    </section>
    <%= yield %>
  </body>
</html>
